{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Digital Acquaintance - Freelance Digital Marketing(Ranchi, Bengaluru, India)</title>
  <meta
    content="Enhance your business using our Digital marketing services including SEO Optimization, Email Marketing, Website development, Content Writing."
    name="description">
  <meta
    content="Website Development, Website, SEO, Email Marketing, SMS marketing, Digital Marketing, Digital Marketing Services Ranchi,
  digital marketing Bengaluru, digital marketing services ranchi, Freelance marketing, Freelance digital marketing, Content Writing,
  Digital marketing for gym, Digital marketing for salon, Digital marketing for doctor, Digital marketing for hospital, Digital marketing for restaurant,
  Digital marketing for salon, Digital marketing for Interior Designer,Digital marketing for retail, Digital marketing for local business "
    name="keywords">

  <!-- Favicons -->
  <link href="{% static 'website/assets/img/logo.jpg'%}" rel="icon">
  <link href="{% static 'website/assets/img/logo.jpg'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'website/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/icofont/icofont.min.css'%}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/venobox/venobox.css'%}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/aos/aos.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'website/assets/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
 
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-10 d-flex align-items-center">
          <h1 class="logo mr-auto"><a href="\">Digital Acquaintance<span>.</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="#header">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <!-- <li><a href="#team">Team</a></li> -->
              <!-- <li><a href="blog.html">Blog</a></li> -->
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav><!-- .nav-menu -->

          <a href="#about" class="get-started-btn scrollto">Get Started</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="zoom-out" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row">
            <div class="col-xl-5">
              <!-- <h1>Bettter digital experience with Digital Acquaintance</h1> -->
              <h1>Hello. My name is Nikhil</h1>
              <h2>I'm a Digital Marketing Freelancer. I help business grow using Online Marketing.</h2>
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container-fluid" data-aos="zoom-in">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="owl-carousel clients-carousel">
              <a href="https://www.hostg.xyz/aff_c?offer_id=265&aff_id=69847&url_id=1935">
                <img
                src="{% static 'website/assets/img/clients/hostinger.png'%}" alt="Hostinger Digital Marketing">
              </a> 
              <img src="{% static 'website/assets/img/clients/client-2.png'%}" alt="Digital Marketing">
              <img src="{% static 'website/assets/img/clients/hostgator.png'%}" alt="Hostgator Digital Marketing">
              <img src="{% static 'website/assets/img/clients/amazon-associate.png'%}" alt="Amazon Digital Marketing">
              <img src="{% static 'website/assets/img/clients/client-5.png'%}" alt="">
              <img src="{% static 'website/assets/img/clients/client-6.png'%}" alt="">
              <img src="{% static 'website/assets/img/clients/flipkart.jpg'%}" alt="Flipkart Digital Marketing">
              <img src="{% static 'website/assets/img/clients/client-8.png'%}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <h3>I drive GROWTH and SALES using the internet</h3>
              <p>
                I help companies grow using advanced online marketing strategies.Proudly based in India (Ranchi,
                Bengaluru(Bangalore)).
                I’ve worked in the IT industry for years with a variety of well-reputable businesses.
                I currently work with small and medium sized businesses as well as partnering with agencies and
                freelancers.
              </p>
              <a href="#" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>Bachelor of Engineering</h4>
                  <!-- <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p> -->
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Years of Relevant Work Experience in Multi National Company</h4>
                  <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p> -->
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-images"></i>
                  <h4>Creative, Smart-worker & Tech-savvy</h4>
                  <!-- <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p> -->
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Certified Digital Marketer</h4>
                  <!-- <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p> -->
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <!-- <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">232</span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">521</span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">1,463</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">15</span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section>End Counts Section -->

    <!-- ======= Tabs Section ======= -->
    <section id="tabs" class="tabs">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Real Estate and Interior Designing</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-toggle="tab" href="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block">Hospitals & Doctors</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-toggle="tab" href="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Salon & Spa</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-toggle="tab" href="#tab-4">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Restaurants & Cafes</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                <h3>Real Estate, Interior Designing, Construction companies</h3>
                <p class="font-italic">
                  Digital marketing has a reach that extends beyond urban cities and is developing in tier-2 and tier-3
                  cities.
                  Real estate developers and Interior Designers haven’t explored a lot of these benefits and are still
                  stuck on the surface.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> A real estate project consumes a lot of money, and digital
                    marketing offers lower prices than mainline marketing.</li>
                  <li><i class="ri-check-double-line"></i> A digital marketing strategy lets you expand your reach and
                    focus said reach towards a specific target market.
                  </li>
                  <li><i class="ri-check-double-line"></i> Real estate developers and Interior Designers need a
                    reputable and strong presence
                    to be successful in this vast industry.</li>
                </ul>
                <!-- <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                  sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p> -->
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'website/assets/img/realestate.jpg'%}" alt="Real Estate Digital Marketing" class="img-fluid zoom">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Hospitals, Clinics, Nursing Homes & Doctors</h3>
                <p class="font-italic">
                  To attract patients to your hospital and offer them the best service, you need to get in front of them
                  first. This is what Digital Marketing can do for you as a first step.
                  There are multiple digital channels where you can make a solid presence and appear before the target
                  audience; your patients. These channels can be social media, search engines, email, other websites
                  etc.</p>
                <ul>
                  <li><i class="ri-check-double-line"></i> For a hospital, social media presence is crucial. Your social
                    media accounts can attract new patients and it will also help you engage with existing customers.
                  </li>
                  <li><i class="ri-check-double-line"></i> Search Engine Optimization is the organic method of getting a
                    top position in the search results.</li>
                  <!-- <li><i class="ri-check-double-line"></i> Content Marketing is a long-term but highly effective
                    strategy that will help you build and nurture a targeted audience who can later turn into customers.
                  </li> -->
                  <li><i class="ri-check-double-line"></i> If you still haven’t started building a solid digital
                    presence for your hospital, you are going to miss out a tonne of opportunities.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'website/assets/img/doctor.jpg'%}" alt="Doctor and Hospital Digital Marketing" class="img-fluid zoom">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Salon & Spa, Gym, Retail Store, Boutique </h3>
                <p class="font-italic">Social media is a great way to engage with your current and potential customers,
                  spread more
                  awareness about your services, and create brand loyalty among customers by reinforcing what makes your
                  salon, gym, boutique unique.</p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Digital marketing should entice your customers to crave more
                    interaction and communication. </li>
                  <li><i class="ri-check-double-line"></i> Your online reputation is extremely important, and this can
                    be a determining factor for consumers who are looking for a new salon, gym.</li>
                  <li><i class="ri-check-double-line"></i> Post often and post high-quality content that will validate
                    your experience within your industry.</li>
                </ul>

              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'website/assets/img/salon.jpg'%}" alt="Salon & Spa, Gym, Retail Store, Boutique Digital Marketing" class="img-fluid zoom">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Restaurants & Cafes, Pubs & Bars</h3>
                <p class="font-italic">
                  The competition among restaurants, cafes, bars is fierce, and you’ll need to give your all to be
                  successful.I will help you out with restaurant marketing ideas and strategies that promise to help you
                  improve
                  your business and get attention from growling stomachs everywhere!
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>Digital marketing helps you to share your story with your
                    customers online.</li>
                  <li><i class="ri-check-double-line"></i>The saying is true: people eat with their eyes first. Be sure
                    to
                    capitalize on this as part of your digital marketing strategy.</i>
                  </li>
                  <li><i class="ri-check-double-line"></i>Use digital marketing to give your customers the information
                    they need: use your website, business listings and social media channels to share your location,
                    opening hours, menu and contact details </li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'website/assets/img/bars.jpg'%}" alt="Restaurant, Cafes, pubs, bars Digital Marketing" class="img-fluid zoom">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Tabs Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg ">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <!-- <p></p> -->
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <!-- <i class="icofont-computer"></i> -->
              <img src="{% static 'website/assets/img/services1.png'%}" alt="Website Design & Development" class="servicesimg ">
              <h4><a href="#">Website Design & Development</a></h4>
              <p>Digital Acquaintance specializes in website design and development services. Our web experiences are
                designed to be user-friendly, fully functional and secure.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <!-- <i class="icofont-chart-bar-graph"></i> -->
              <img src="{% static 'website/assets/img/services2.png'%}" alt="Social Media Marketing" class="servicesimg">
              <h4><a href="#">Social Media Marketing</a></h4>
              <p> With a custom social media marketing service, your business can start building brand awareness,
                as well as generating revenue from social media platforms like Facebook, LinkedIn, Instagram, and more.
              </p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <!-- <i class="icofont-image"></i> -->
              <img src="{% static 'website/assets/img/services3.png'%}" alt="Branding" class="servicesimg">
              <h4><a href="#">Branding</a></h4>
              <p>Businesses with strong brands retain loyal customers for the long run and have an easier time appealing
                to new audiences because they already know what those companies stand for.
              </p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <!-- <i class="icofont-settings"></i> -->
              <img src="{% static 'website/assets/img/services4.png'%}" alt="Content Writing" class="servicesimg">
              <h4><a href="#">Content Writing</a></h4>
              <p>Break through the noise with effective, well-researched, SEO-friendly content writing services that
                promote your business and communicates with the customer.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
              <!-- <i class="icofont-earth"></i> -->
              <img src="{% static 'website/assets/img/services5.png'%}" alt="SEO Optimization" class="servicesimg">
              <h4><a href="#">SEO </a></h4>
              <p>The higher a website appears in the search engine rankings, the greater the likelihood that it will be
                visited. When a website received more traffic, there is a likelihood for more business.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
              <!-- <i class="icofont-tasks-alt"></i> -->
              <img src="{% static 'website/assets/img/emailmarket.png'%}" alt="Email and Message Marketing" class="servicesimg ">
              <h4><a href="#">Email and Message Marketing</a></h4>
              <p>A marketing email is a one-to-many communication from an organization to a mailing list of customers
                and prospects. Email marketing can be a very cost effective way to reach, engage, and retain your
                customers. </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Here's a collection of my Work.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Gym</li>
              <li data-filter=".filter-card">Salon & store </li>
              <li data-filter=".filter-web">Doctor & Hospital </li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'website/assets/img/portfolio/gym1.jpg'%}" class="img-fluid" alt="Gym digital marketing">
              <div class="portfolio-info">
                <h4>Gym 1</h4>
                <p>Gym template</p>
                <div class="portfolio-links">
                  <a href="{% static 'website/assets/img/portfolio/gym1.jpg'%}" data-gall="portfolioGallery"
                    class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'website/assets/img/portfolio/doctor1.jpg'%}" class="img-fluid" alt="doctor digital marketing">
              <div class="portfolio-info">
                <h4>Doctor 1</h4>
                <p>Doctor template</p>
                <div class="portfolio-links">
                  <a href="{% static 'website/assets/img/portfolio/doctor1.jpg'%}" data-gall="portfolioGallery"
                    class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'website/assets/img/portfolio/restaurant.jpg'%}" class="img-fluid" alt="restaurant digital marketing">
              <div class="portfolio-info">
                <h4>Restaurant</h4>
                <p>Restaurant template</p>
                <div class="portfolio-links">
                  <a href="{% static 'website/assets/img/portfolio/gym2.jpg'%}" data-gall="portfolioGallery"
                    class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'website/assets/img/portfolio/salon1.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Salon 1</h4>
                <p>Salon template</p>
                <div class="portfolio-links">
                  <a href="{% static 'website/assets/img/portfolio/salon1.jpg'%}" data-gall="portfolioGallery"
                    class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'website/assets/img/portfolio/doctor2.jpg'%}" class="img-fluid" alt="doctor template">
              <div class="portfolio-info">
                <h4>Doctor 2</h4>
                <p>Doctor template</p>
                <div class="portfolio-links">
                  <a href="{% static 'website/assets/img/portfolio/doctor2.jpg'%}" data-gall="portfolioGallery"
                    class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'website/assets/img/portfolio/gym3.jpg'%}" class="img-fluid" alt="gym template">
              <div class="portfolio-info">
                <h4>Gym 3</h4>
                <p>Gym template</p>
                <div class="portfolio-links">
                  <a href="{% static 'website/assets/img/portfolio/gym3.jpg'%}" data-gall="portfolioGallery"
                    class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'website/assets/img/portfolio/salon3.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Salon 2</h4>
                <p>Salon template</p>
                <div class="portfolio-links">
                  <a href="{% static 'website/assets/img/portfolio/salon3.jpg'%}" data-gall="portfolioGallery"
                    class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'website/assets/img/portfolio/store1.jpg'%}" class="img-fluid" alt="store digital marketing">
              <div class="portfolio-info">
                <h4>Store 1</h4>
                <p>Store template</p>
                <div class="portfolio-links">
                  <a href="{% static 'website/assets/img/portfolio/store1.jpg'%}" data-gall="portfolioGallery"
                    class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'website/assets/img/portfolio/store2.jpg'%}" class="img-fluid" alt="retail digital marketing">
              <div class="portfolio-info">
                <h4>Store 2</h4>
                <p>Store template</p>
                <div class="portfolio-links">
                  <a href="{% static 'website/assets/img/portfolio/store2.jpg'%}" data-gall="portfolioGallery"
                    class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <!-- <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> -->
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Here's what my clients have to say about the services provided by me!</p>
        </div>
      </div>

      <div class="container-fluid">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="owl-carousel testimonials-carousel">

              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'website/assets/img/testimonials/testimonials-1.jpg'%}" class="testimonial-img"
                    alt="gym owner">
                  <h3>Saul Goodman</h3>
                  <h4>Gym Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    We were recommended to Digital Acquaintance by another company to look after our Digital Marketing.
                    Since
                    retaining them, they have managed our marketing campaigns.
                    Their attentive, hands on approach has made a real difference and we have seen improvements across
                    the board.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>

              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'website/assets/img/testimonials/testimonials-2.jpg'%}" class="testimonial-img"
                    alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Digital Acquaintance have provided us with a comprehensive, fast and well planned digital marketing
                    strategy that has yielded great results in terms of content, SEO, Social Media. He is a
                    pleasure to work with, as well as being fast to respond and adapt to the needs of your brand.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>

              <!-- <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'website/assets/img/testimonials/testimonials-3.jpg'%}" class="testimonial-img"
                    alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim
                    tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div> -->

              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'website/assets/img/testimonials/testimonials-4.jpg'%}" class="testimonial-img"
                    alt="freelancers">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Digital Acquaintance has made a huge difference to our business with his good work and knowledge of
                    SEO and
                    business to business marketing techniques. Our search engine rankings are better than ever and we
                    are getting more people contacting us thanks to Nikhil’s knowledge and hard work.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>

              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'website/assets/img/testimonials/testimonials-5.jpg'%}" class="testimonial-img"
                    alt="Entrepreneur">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I recently worked with Digital Acquaintance to get our brand new restaurant website. It is
                    fantastic.
                    We loved working with them, they were really communicative and made sure we were always in the loop.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <!-- <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="fade-up" data-aos-delay="200">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="300">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <!-- <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list" data-aos="fade-up">

          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-parent=".faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq6" class="collapse" data-parent=".faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section>End Frequently Asked Questions Section -->

    <!-- ======= Team Section ======= -->
    <!-- <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'website/assets/img/team/team-1.jpg'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nikhil Kumar Sah</h4>
                <span>Developer, Designer, Marketer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'website/assets/img/team/team-2.jpg'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'website/assets/img/team/team-3.jpg'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="{% static 'website/assets/img/team/team-4.jpg'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Let's discuss business.</p>
        </div>

        <!-- Map Google -->
        <div data-aos="fade-up">
          <iframe style="border:0; width: 100%; height: 350px;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20335.12332118333!2d85.29955557371404!3d23.291759226051827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f51fb365a3987d%3A0xe3deb9d09698de74!2sRiver%20View%20Colony%2C%20Choybasatoli%2C%20Hatia%2C%20Ranchi%2C%20Jharkhand%20834003!5e0!3m2!1sen!2sin!4v1594559804627!5m2!1sen!2sin"
            frameborder="0" allowfullscreen></iframe>
        </div>


        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Address</h3>
                  <p>River View Colony, Hatia, Ranchi, India 834003</p>
                  <p>Sarjapura Road, Bengaluru, India 560064</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email </h3>
                  <p>nikshh.kumar@gmailcom</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>8660322182<br>7209886182</p>
                </div>
              </div>
            </div>

          </div>

          <!-- <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                  data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div> -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <!-- <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Digital Acquaintance<span>.</span></h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div> -->

          <!-- <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div> -->
          <!-- 
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> -->

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <!-- <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p> -->
            <!-- <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email">
              <input type="submit" value="Subscribe">
            </form> -->

            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css">

            </style>
            <div id="mc_embed_signup">
              <form
                action="https://gmail.us1.list-manage.com/subscribe/post?u=4f65c031eacb57f142e7450e3&amp;id=54da38f494"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <!-- <label for="mce-EMAIL">Join Our Newsletter</label> -->
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                    placeholder="Enter your Email here!" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                      name="b_4f65c031eacb57f142e7450e3_54da38f494" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                      class="button"></div>
                </div>
              </form>
            </div>


            <!--End mc_embed_signup-->
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Digital Acquaintance</span></strong>. All Rights Reserved
        </div>
        <!-- <div class="credits"> -->
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/Digital Acquaintance-bootstrap-corporate-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div> -->
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
        <a href="https://www.facebook.com/profile.php?id=100002869555357" class="facebook"><i
            class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/_nifty_nikhil/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
        <a href="https://www.linkedin.com/in/nikhil-kumar-sah-5392ba158/" class="linkedin"><i
            class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'website/assets/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'website/assets/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
  <script src="{% static 'website/assets/vendor/php-email-form/validate.js'%}"></script>
  <script src="{% static 'website/assets/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'website/assets/vendor/waypoints/jquery.waypoints.min.js'%}"></script>
  <script src="{% static 'website/assets/vendor/counterup/counterup.min.js'%}"></script>
  <script src="{% static 'website/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'website/assets/vendor/venobox/venobox.min.js'%}"></script>
  <script src="{% static 'website/assets/vendor/aos/aos.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'website/assets/js/main.js'%}"></script>

</body>

</html>